src/main/resources/inputSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
            	 <xs:element name="timestamp" type="xs:dateTime"/>
              <xs:element type="xs:string" name="sender"/>
              <xs:element  name="client">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			<xs:enumeration value="EDITOR" />
              			<xs:enumeration value="WEB" />	
              		</xs:restriction>
              	</xs:simpleType>
		</xs:element>
              <xs:element type="xs:string" name="user"/>
              <xs:element name="juliaVersion">
              	<xs:simpleType>
              		<xs:restriction base="xs:string">
              			 <xs:pattern value="[0-9]\.[0-9]\.[0-9]"/>
              		</xs:restriction>
              	</xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="requests"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
        	<!-- All the code goes here but is not described as it is variable in structure -->
        </xs:element>
	</xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>